<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SmokeTests" parallel="false">
	<test name="Test">
		<classes>
			<class name="tests.testRegister">
				<methods>				
					<include name="RegisterEmptyField"></include>
					<include name="RegisterEmptyUser"></include>
					<include name="RegisterPassDifferent"></include>
					<include name="RegisterUserExist"></include>
					<include name="RegisterOk"></include>
				</methods>
			</class>
			<class name="tests.testLogin">
				<methods>
					<include name="EmptyFields"></include>
					<include name="UserNameEmpty"></include>
					<include name="PasswordEmpty"></include>
					<include name="WrongPassword"></include>
					<include name="UserNotExist"></include>
					<include name="WrongFormat"></include>
					<include name="CorrectLogin"></include>
				</methods>
			</class>
			<class name="tests.testLogout">
				<methods>
					<include name="LogoutFromMain"></include>
					<include name="LogoutFromList"></include>
					<include name="LogoutFromEdit"></include>
					<include name="LogoutFromView"></include>
				</methods>
			</class>			
		</classes>
	</test>
</suite>
